body,
html {
    height: 100%;
}

#navbarTogglerDemo02,
nav {
    background-color: #000000;
    border-color: #000000;
}

footer {
    background-color: rgb(182, 178, 178)
}

#sec-row {
    background-color: #dfe6e5ee;
    padding-top: 20px;
    margin-left: 20px;
    padding-left: 20px;
}

li,
ul,
.nav-link,
.nav- {
    -webkit-text-fill-color: white;
    color: white;
}

.image-fluid {
    height: 20px;
    width: 20px;
}

#my-background-wrapper {
    /* The image used */
background-image: url('../images/polka_dots.jpg');    /* Set a specific height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#my-banner-div {

    background-color: white;
    border-top: solid white 2px;
    padding-top: 5px; 
    box-shadow: 45px 40px 67px 33px white;
    text-align: center;
    
}
#my-banner-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: white;
    padding-top: 20%; 

}
#my-banner-text2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: white;
}
.tooth {
    width: 50px;
    height: auto;

}

.hover-bg-custom:hover{
border: #3f3f3fee solid 1px; 
}
#partner-bar{

background-color: white;

}
#partner-image{
    width: 85%;
    height: auto; 
}
@media (max-width: 767px) {
    h1 {
        font-size: 24px;
    }

    .rounded-circle {
        display: none;
    }

    .sec-row {
        margin: auto;
        align-self: auto;
        padding: 0;
        display: block;
    }
}

.blockquote {
    font-weight: 400;
}

