body, html {
    height: 100%;
}
 
li, ul, .nav-link, .nav- {
    -webkit-text-fill-color: white; 
    color: white; 
}
.image-fluid{
    height: 40px; 
    width: 40px; 
}
 
.jumbotron {
    background-image: url("../images/background.png");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}
.nav-link {
    color: black; 
    -webkit-text-fill-color: black
}